body {
    min-height: 100%; 
    margin: 0;
    padding: 0;
    position: relative;
} 

h2.title {
    color: white;
    margin-top: 2.5rem;
    text-align: center;
}

h3.title {
    color: white;
    text-align: center;
    margin-top: 2.2rem;
    margin-left: 4rem;
}

p.description {
    color: white;
    margin-left: 1.5rem;
    margin-right: 0.8rem;
    margin-top: 4rem;
    width: 100%;
    text-align:justify;
    font-size: 2rem;   
}

.card-img-top image {
    width: auto; 
    height: 10rem;
    margin-right: 3rem;
    padding-right: 1rem;
} 

.imageProfil {
    width: 25rem;
    height: 25rem;
    border-radius: 50%;
    margin-top: 2rem;
    margin-bottom: 8rem;
}

.card {
    max-width: 20rem; 
    max-height: 20rem;
    margin-top: 2.5rem;
    margin-left: 2.5rem;
    margin-bottom: 2.5rem;
    overflow: scroll;       
}

.marge {
    margin-bottom:2.5rem;
}

body.screen {
    background-color: rgb(15, 5, 5);
   
}

h5.card-title {
    color: blue;
    text-align: center;
    margin-top: 1rem;
}

p.card-text {
    color: black;    
}

.card-taille {
    width: 50rem;
    height: 20rem;
    background-color:aqua;
}

.container-presentation {
    display: flex;
    height: 100%;;
}

h5.card-title {
    color: red;
}

.container-formulaire {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 12rem;
    margin-bottom: 12rem;
}

li.position1 {
    margin-top: 1.5rem;
    display: inline-block;
    margin-right: 4rem;
}

li.position2 {
    margin-top: 1.5rem;
    display: inline-block;
    margin-right: 4rem;
}

li.position3 {
    margin-top: 1.5rem;
    display: inline-block; 
    margin-left: 15rem;   
}

label.position {
    display: flex;
    text-align: center;    
}

input {
    border-radius: 30%;
}

.champ {
    margin-left: 20rem;
}

footer {
    padding: 0.5rem;        
} 

