html {
    height: 100%;
  }
  body {
    min-height: 100%;
    margin: 0;
    padding: 0;
    position: relative;
  }

body.ecran {
    background-color: rgb(15, 5, 5);
}

.card {
    justify-content: center;
    margin-top: 15rem;
    margin-left: 10rem;
    margin-right: 10rem;
}

h5.card-title {
    color: blueviolet;
    text-align: center;
}

label.couleurTexte {
    color: brown;
}

p.card-text {
    color: red;
}

footer {
    position: absolute; bottom: 0; left: 0; right: 0
}

